body {
    background: url("../images/785.jpg");
    color: #f5f5f5;
  }

.oceanImage {
    border-radius: 2rem;
    border: outset 2px gray;
}

.h2, .h3 {
    font-family: 'Raleway', sans-serif;
}

.p, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

#title { 
    font-family: 'Chelsea Market', cursive;
    color: #cccccc;
    text-shadow: 0px 0px 3px #0f1277;
    font-size: 40px;
    text-align: center;
}

#wrapper {
    background-color: ;
    background-image: linear-gradient(to bottom left, #87cefa, #437bf9, #274cf6);
    margin-top: 40px;
    border-radius: 12px;
    height: 600px;
    padding: 8px;
}

#reattempt, #start {
    background-color: #0f1277;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    color: white;
    float: left;
    padding: 8px;
    margin: 10px;
    border-radius: 2rem;
    animation: mymove 12s infinite;
}

#results, #startButton {
    text-align: center;
}

@keyframes mymove {
    30% {box-shadow: 5px 8px 8px #0f1277;}
    70% {box-shadow: -5px -8px 8px #0f1277;}
    90% {box-shadow: 0px 0px 4px #0f1277;}
    100% {box-shadow: 0px 0px 1px #0f1277;}
}

.ansButton {
    width: 400px;
    background-color: #0f1277;
    border-radius: 2rem;
    color: white;
    float: left;
    padding: 4px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

.ansButton:hover {
    box-shadow: 0px 0px 5px 3px #420982;
}

.info {
    font-weight: bold;
}